.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10000000;
    margin: 0px;
    background: transparent;
}

.opaque {
    backdrop-filter: blur(10px);
}

.line {
    position: relative;
    margin-top: 0px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 0.05rem;
    background-color: #f6f6f6;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navItem {
    margin: 0 7em;
    justify-content: space-between;
}

.navItem a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: normal;
    font-size: 1.5rem;
}

.navItem a:hover {
    color: #ddd;
}


@media only screen and (max-width: 1024px) {
    .navItem {
        margin: 0 3em;
    }

    .navItem a {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 768px) {
    .navList {
        gap: 1em;
        align-items: flex-start;
    }

    .navItem {
        margin: 0.5em 0;
    }

    .navItem a {
        font-size: 1.1rem;
        padding: 0.5em 0;
    }

    .navbar::after {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .logoContainer {
        margin: 1rem 0;
    }

    .logo {
        max-width: 70%;
    }
}