.container {
    display:flex;
    flex-direction: column; 
    align-items: flex-end; 
    position: relative;
  }

  .shadowpng{
    display: flex;
    margin-top: 22em;

    position: relative;

  }
.editButton{
    background-color:  #ee5757;
    font-size: 0.6em;
    height:2.5em;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    width:6em;
    position: relative;
    transition: background-color 0.3s;
}
    
.listitem{
    display: flex;
}
.everybutton{
    width: 2em; /* Adjust the width as needed */
    color: #84b1ec;
    height: 5%; /* Adjust the height as needed */
    background: none;
    border: none;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
}

.editButton:hover{
    background-color:  #933737;

}


.items {
    border-radius: 1em;
    color:#494949;
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 0.2em;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color:#ffffff9e;
    padding: 1em;
    width: 25em;
    width: 100%;
  }

  .items h3 {
    margin: 0;
  }

.items p {
    font-size: 0.7em;
}

.pAlign {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 640px) {
    .everybutton img{
        width: 1em;
        height: auto;
    }
  }