.container {
    background: linear-gradient(to bottom right, #008ffb, #d6dcff);
    /* min-height: 100vh; */
    display: flex;
    flex-direction: row;
    padding-top: 10em;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.filterIcon {
  position: absolute;
  cursor: pointer;
  }

.rotatingSvg {
    position: fixed;
    bottom: -45%;
    left: 50%;
    width: 150%;
    height: 150%;
    z-index: 0; 
    animation: rotate 10s linear infinite;
    transform-origin: center center; 
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, 0) rotate(0deg);
    }
    100% {
      transform: translate(-50%, 0) rotate(360deg);
    }
  }
 
  .pageLayout {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: top; 
    align-items: center;
    width: 100vw;
    padding: 1em; 
  }

  .searchBarContainer {
    position: relative; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
    z-index: 10000;
  }
  
  .searchBar {
    width: 100%;
    display: flex;
    padding: 0.5em;
    /* padding-right: 40px; */
    border-radius: 58px; 
    border: 1px solid #ccc;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    background: rgba(255, 255, 255, 0.7);
    outline: none; 
  }

  .button {
    position: relative; 
    right: 0%; 
    top: 0; 
    height: 100%; 
    margin: auto;
    border: none;
    background: none; 
    cursor: pointer;
    padding: auto;
    /* margin-right: 1em; */
    border-top-right-radius: 58px; 
    border-bottom-right-radius: 58px; 
    z-index: 10000;
}

.button img {
    width: 25px; 
    height: auto;
    
}
  
  .title {
    position: relative;
    color: white;
    margin-top: 1em;
    font-size: 4rem;
    font-weight: bold;
    width: 8em;
    z-index: 1000;
    text-align: center;
  }

  .textbox{
    width: 100%;
    background-color: #00000000;
    border: #00000000 solid 0px;

  }

  .textbox:focus{
    all: unset;
    width: 100%;
    background-color: #00000000;
    border: #00000000 solid 0px;
  }
  
  .text {
    margin-top: 1em;
    position: relative;
    color: white;
    font-size: 1.5rem;
    width: 10em;
    justify-content: space-between;
    font-weight: normal;
    z-index: 1000;
  }

  .smileSvg {
    margin-top: 6em;
    z-index: 1;
    margin-bottom: 5em;
  }
  
  .mapContainer {
    position: absolute;
    top: 100%;
    transition: top 0.5s;
    overflow: hidden;
    border-radius: 15px px 0px 0px;
  }

  .appear{
    top: 18vh;
  }

  .disappear{
    display: none;
    visibility: hidden;
  }